<h1> <%= @place["name"] %> </h1>

<h2> Posts </h2>


<ul>
    <% for post in @posts %>
        <ol>
        <%= post["title"] %>
        <%= post["posted_on"] %>
        <%= post["description"] %>
        </ol>
    <% end %>
</ul>



<p> <a href = "/posts/new?place_id=<%=@place["id"]%>">New Post for <%= @place["name"] %> </a> <p>

<p>
<a href="/places">Back to all places </a>
</p>